:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: hsl(6, 78%, 57%);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-container-width: fit-content;
  --toastify-toast-width: 400px;
  --toastify-toast-offset: 16px;
  --toastify-toast-top: max(var(--toastify-toast-offset), env(safe-area-inset-top));
  --toastify-toast-right: max(var(--toastify-toast-offset), env(safe-area-inset-right));
  --toastify-toast-left: max(var(--toastify-toast-offset), env(safe-area-inset-left));
  --toastify-toast-bottom: max(var(--toastify-toast-offset), env(safe-area-inset-bottom));
  --toastify-toast-background: #fff;
  --toastify-toast-padding: 18px;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 500px;
  --toastify-toast-bd-radius: 6px;
  --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
}

.Toastify {
  /** Used to define container behavior: width, position: fixed etc... **/
  &__toast-container {
    white-space: pre-wrap;
    font-size: 14px;

    /** Used to define the position of the ToastContainer **/
    &--top-left {
    }

    &--top-center {
    }

    &--top-right {
    }

    &--bottom-left {
    }

    &--bottom-center {
    }

    &--bottom-right {
    }
  }

  /** Classes for the displayed toast **/
  &__toast {
    &--rtl {
    }
  }

  /** Used to position the icon **/
  &__toast-icon {
  }

  /** handle the notification color and the text color based on the theme **/
  &__toast-theme {
    &--dark {
    }

    &--light {
    }

    &--colored {
      &.Toastify__toast--default {
      }

      &.Toastify__toast--info {
      }

      &.Toastify__toast--success {
      }

      &.Toastify__toast--warning {
      }

      &.Toastify__toast--error {
      }
    }
  }

  &__progress-bar {
    &--rtl {
    }

    &--info {
    }

    &--success {
    }

    &--warning {
    }

    &--error {
    }
  }

  &__progress-bar-theme {
    &--light {
    }

    &--dark {
    }

    /** colored notifications share the same progress bar color **/
    &--colored {
      &.Toastify__progress-bar--info,
      &.Toastify__progress-bar--success,
      &.Toastify__progress-bar--warning,
      &.Toastify__progress-bar--error {
      }
    }
  }

  /** Classes for the close button. Better use your own closeButton **/
  &__close-button {
    &--default {
    }

    > svg {
    }

    &:hover,
    &:focus {
    }
  }
}
