{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "../../tools/babel/lazy-meta.js",
    [
      "babel-plugin-react-compiler",
      {
        "target": "19"
      }
    ]
  ]
}
